/* @import url(/css/darkmode.css); */
/* @import url(/css/taskarea.css); */
@import url(/css/funcheader.css);

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Roboto-Regular.woff") format("woff");
}

:root {
  --medium-priority-bg: orange;
  --high-priority-bg: #ff4141;
  --low-priprity-bg: yellowgreen;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100lvh;
  width: 100vw;
  padding: 0 10px 0 10px;
}

.switch {
  width: 65px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
  margin-right: 15px;
}

.flicker {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 2px;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
  color: rgb(255, 255, 255);
}

.dark > .column-header-details p {
  background-color: transparent;
}

.dark > .header p {
  color: #fff;
}

.profile-dark {
  border: 1px solid rgb(57, 57, 57);
}

h4 {
  margin: 0;
}

.task-column {
  padding: 3px;
}

.task-area {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  max-width: 1210px;
  width: 100%;
  height: 600px;
  margin: 10px;
  grid-gap: 10px;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 0;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.backlog {
  border-bottom: 1px solid #a49e9e;
}

.todo {
  border-bottom: 2px solid #a49e9e;
}

.progress {
  border-bottom: 2px solid #ff4141;
}

.reivew {
  border-bottom: 2px solid orange;
}

.done {
  border-bottom: 2px solid yellowgreen;
}
.column-header-details {
  display: flex;
  align-items: center;
}

.column-header-details h4 {
  margin-right: 5px;
  font-size: 15px;
}

.column-header-details p {
  background-color: #e7e2e2;
  border-radius: 3px;
  padding: 0 2px;
  font-size: 12px;
}

.column-header-details h4 {
  color: #5d666e;
}
.column-header-filter svg {
  width: 20px;
  height: 20px;
}

.add-task-btn button {
  border: none;
  border-left: 3px solid #f1f1f1;
  background-color: transparent;
  font-size: 15px;
  padding: 10px;
  color: #70787f;
}

.task-box {
  border: 1px solid rgb(213, 208, 208);
  border-radius: 5px;
  height: 145px;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
}

.task-box-prority {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.prority {
  border-radius: 3px;
  width: fit-content;
  margin: 0;
  padding: 0 2px;
  color: #fff;
}

.low-prority {
  background-color: #ecf5e9;
  color: #82be6c;
}

.high-prority {
  background-color: #ffe9e5;
  color: #ff6049;
}

.medium-prority {
  background-color: #fff1dd;
  color: #ff9c07;
}
.task-box-prority svg {
  height: 25px;
  width: 25px;
}

.task-box-details h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.task-box-details p {
  margin: 0;
  color: #59616a;
  font-size: 14px;
}

.task-box-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.task-box-comment img {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  margin-right: -15px;
  border: 1px solid #fff;
}

.task-box-comment svg {
  height: 20px;
  width: 20px;
  margin: 5px;
}

.comment {
  display: flex;
  align-items: center;
}

.comment p {
  color: #70777f;
  margin: 0;
}
.comment svg {
  fill: #70777f;
}

.column-header-dark {
  background-color: rgb(57, 57, 57);
}

.moon {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 3px;
  left: 40px;
}

.header {
  grid-column: 1 /0;
  /* background-color: #fff; */
  color: #242424;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5px;
  height: 50px;
  max-width: 1285px;
  width: 100%;
  border-bottom: 1px solid rgba(150, 149, 149, 0.4078431373);
  z-index: 1;
}

.header svg {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  color: #556178;
}
.header p {
  font-size: 20px;
  margin: 0 20px;
}
.header img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.seprator {
  padding: 0 20px;
  font-size: 35px;
  color: #f4f4f4;
  font-weight: 100;
}

.aside {
  grid-row: 1 / span 2;
  overflow-y: auto;
  z-index: 2;
  width: 240px;
  max-height: 780px;
  height: 100%;
  border-right: 1px solid rgba(150, 149, 149, 0.4078431373);
  /* background-color: #fff; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aside svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.aside .svg-logo {
  width: 40px;
  height: 40px;
}

.sidebar-items {
  display: flex;
  align-items: center;
}

.sidebar-items h4 {
  color: #5d666e;
}

.sidebar-items:hover h4 {
  color: #000000;
}

.bottom-items {
  margin-top: auto;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: #fff; */
  overflow-y: auto;
  width: 1296px;
  padding: 0 10px;
  grid-column: 2/-1;
}

.dark svg path.stroked {
  stroke: #fff;
}

.dark svg path.filled {
  fill: #fff;
}

.dark .counter {
  background-color: transparent;
}

.dark .aside h4 {
  color: #fff;
}

.dark .aside h4:hover {
  color: #556178;
}

.dark .task-area .task-box .task-box-details p {
  color: #fff;
}

.dark .column-header .column-header-details h4 {
  color: #fff;
}
.dark .task-column .add-task-btn button {
  color: #fff;
}
.dark .func-header button {
  color: #fff;
}

.dark .comment svg {
  fill: #fff;
}

.dark .comment p {
  color: #fff;
}
@media (max-width: 1200px) {
  /* Tablet and below */

  .container {
    margin: 0;
    padding: 0;
  }

  .header {
    width: 100%;
    height: 100%;
  }

  .header svg {
    margin-right: 0;
    width: 25px;
    height: 25px;
    color: #556178;
  }

  .header svg:last-child {
    margin: 0;
  }

  .header p {
    font-size: 12px;
    margin: 0 5px;
  }

  .header img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 3px 0;
  }

  .seprator {
    padding: 0 10px;
  }

  .dark-mode {
    margin-right: 3px;
  }
  .dark-mode label svg.sun {
    left: 5px;
    fill: #242424;
    transition: 0.3s;
  }

  .dark-mode label svg {
    position: absolute;
    width: 8px;
    top: -0.9px;
    z-index: 100;
  }
  .dark-mode label svg.moon {
    left: 24px;
    fill: #7e7e7e;
    transition: 0.3s;
  }
  .dark-mode label svg {
    position: absolute;
    width: 8px;
    top: -5px;
    z-index: 100;
  }
  .dark-mode input:checked + label:after {
    left: 33px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
  .dark-mode label:after {
    content: "";
    width: 14px;
    height: 11px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .dark-mode label {
    width: 35px;
    height: 15px;
    position: relative;
    display: block;
    background: #f3f3f3;
    border-radius: 200px;
    cursor: pointer;
    transition: 0.3s;
  }

  .dark-mode label:active:after {
    width: 15px;
  }

  .aside {
    width: 30px;
    padding: 20px 25px;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .aside .svg-logo {
    width: 45px;
    height: 45px;
  }

  .aside svg {
    width: 25px;
    height: 25px;
    margin-right: 0;
  }

  .aside .sidebar-items h4,
  .aside .sidebar-items h2 {
    display: none;
  }

  .main {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0 5px;
  }

  .func-header {
    grid-template-columns: repeat(3, 35%) 10%;
    width: 100%;
    overflow-x: auto;
    padding: 5px 0;
  }

  .task-header h1 {
    font-size: 20px;
  }

  .week-func,
  .task-func,
  .filter-func,
  .add-task-func {
    width: 245px;
  }

  .week-func button,
  .task-func button,
  .filter-func button,
  .add-task-func button {
    font-size: x-small;
    height: 20px;
  }

  .filter-func svg {
    width: 20px;
    height: 20px;
  }

  .task-area {
    margin: 0;
    grid-template-columns: repeat(5, 25%);
    overflow-x: auto;
    height: 100%;
  }

  .task-box {
    height: 120px;
  }

  .column-header-details h4,
  .column-header-details p,
  .prority,
  .task-box-details h4,
  .task-box-details p,
  .comment p {
    font-size: 10px;
  }

  .column-header-filter svg,
  .comment svg {
    width: 15px;
    height: 15px;
  }

  .task-box-comment img,
  .task-box-prority svg {
    height: 20px;
    width: 20px;
  }

  .add-task-btn button {
    font-size: 10px;
    padding: 5px;
  }
}

@media (max-width: 768px) {
  /* Mobile */

  .container {
    margin: 0;
    padding: 0;
  }

  .header {
    width: 100%;
    height: 100%;
  }

  .header svg {
    margin-right: 0;
    width: 25px;
    height: 25px;
    color: #556178;
  }

  .header svg:last-child {
    margin: 0;
  }

  .header p {
    font-size: 12px;
    margin: 0 5px;
  }

  .header img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 3px 0;
  }

  .seprator {
    padding: 0 10px;
  }

  .dark-mode {
    margin-right: 3px;
  }
  .dark-mode label svg.sun {
    left: 5px;
    fill: #242424;
    transition: 0.3s;
  }

  .dark-mode label svg {
    position: absolute;
    width: 8px;
    top: -0.9px;
    z-index: 100;
  }
  .dark-mode label svg.moon {
    left: 24px;
    fill: #7e7e7e;
    transition: 0.3s;
  }
  .dark-mode label svg {
    position: absolute;
    width: 8px;
    top: -5px;
    z-index: 100;
  }
  .dark-mode input:checked + label:after {
    left: 33px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
  .dark-mode label:after {
    content: "";
    width: 14px;
    height: 11px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .dark-mode label {
    width: 35px;
    height: 15px;
    position: relative;
    display: block;
    background: #f3f3f3;
    border-radius: 200px;
    cursor: pointer;
    transition: 0.3s;
  }

  .dark-mode label:active:after {
    width: 15px;
  }

  .aside {
    width: 30px;
    padding: 20px 25px;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .aside .svg-logo {
    width: 45px;
    height: 45px;
  }

  .aside svg {
    width: 25px;
    height: 25px;
    margin-right: 0;
  }

  .aside .sidebar-items h4,
  .aside .sidebar-items h2 {
    display: none;
  }

  .main {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0 5px;
  }

  .func-header {
    grid-template-columns: repeat(3, 80%) 10%;
    width: 100%;
    overflow-x: auto;
    padding: 5px 0;
  }

  .task-header h1 {
    font-size: 20px;
  }

  .week-func,
  .task-func,
  .filter-func,
  .add-task-func {
    width: 245px;
  }

  .week-func button,
  .task-func button,
  .filter-func button,
  .add-task-func button {
    font-size: x-small;
    height: 20px;
  }

  .filter-func svg {
    width: 20px;
    height: 20px;
  }

  .task-area {
    margin: 0;
    grid-template-columns: repeat(5, 50%);
    overflow-x: auto;
    height: 100%;
  }

  .task-box {
    height: 120px;
  }

  .column-header-details h4,
  .column-header-details p,
  .prority,
  .task-box-details h4,
  .task-box-details p,
  .comment p {
    font-size: 10px;
  }

  .column-header-filter svg,
  .comment svg {
    width: 15px;
    height: 15px;
  }

  .task-box-comment img,
  .task-box-prority svg {
    height: 20px;
    width: 20px;
  }

  .add-task-btn button {
    font-size: 10px;
    padding: 5px;
  }
}
